################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/WinFormsApp9 variant 2/bin/Debug/net8.0-windows
/WinFormsApp9 variant 2/obj
